body {
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.game-console{
  width: 540px;
  height: 780px;


}
.game-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width:535px ;
  height:771px ;
  border:12px solid rgb(0, 0, 0);
  background-color: rgba(36, 103, 192, 0.555);
  

}
.top-bar {
  width: 535px;
  background-color: rgb(0, 67, 155);
  display: flex;
  border-bottom:12px solid rgb(0, 0, 0) ;
}
.buttons{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.left-bar{
  width: 350px;
  display: flex;
  gap:57px;
  justify-content: flex-start;
  align-items: center;
  font-size: 15px;
  margin-left: 15px;
}
.container{
    display: flex;
}
.grid{
  width: 350px;
  height: 700px;
  display: flex;
  flex-wrap: wrap;
  background-color: #ffc506;
  border-left: 15px rgb(0, 0, 0);
}
.button-section{
    border-left: 20px solid rgb(0, 0, 0); 
    border-right: 15px solid rgb(0, 0, 0);
    background-color: rgb(0, 67, 155);
}
.grid div{
  height: 35px;
  width: 35px;
}
.tetromino{ 
    background-color: black;
}
.showroom{
    width: 150px;
    height: 120px;
    display: flex;
    flex-wrap: wrap;
    background-color: #ffc506;
    border-bottom:15px solid rgb(0, 0, 0);
}
.showroom div{
    height: 30px;
    width: 30px;
}

/* .grid div {
    border: 1px solid gray;
} */